zenml[server]>=0.74.0
ratelimit
pgvector
psycopg2-binary
beautifulsoup4
unstructured
pandas
openai
numpy
sentence-transformers>=3,<=3.0.1
transformers<=4.44.0
litellm
tiktoken
matplotlib
pyarrow
rerankers[flashrank]
datasets<=2.20.0
torch
gradio
huggingface-hub
elasticsearch
tenacity
